.ribbon {
  position: relative;
  background: linear-gradient(90deg, #fff);
  color: rgb(0, 0, 0);
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 15px;
  letter-spacing: 1px;
  font-size: 1rem;
}
.ribbon span {
  position: relative;
  z-index: 2;
}
.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
}
.ribbon::before {
  left: -26px;
  border-left: 26px solid transparent;
  border-top: 24px solid white;
  border-right: 24px solid white;
  border-bottom: 24px solid white;
}
.ribbon::after {
  right: -26px;
  border-right: 26px solid transparent;
  border-top: 24px solid white;
  border-left: 24px solid white;
  border-bottom: 24px solid white;
}
.ribbon-sub {
  display: flex;
  justify-content: space-between;
  background: #000;
  padding: 6px 10px;
  font-size: 0.7rem;
}
.bonus {
  color: #ffcc00;
}
.code strong {
  color: #fff;
}
@media (min-width: 1050px) {
  .ribbon {
  padding: 6px 15px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  }
  .ribbon-sub {
  font-size: 1.25rem;
}
}